.contact-form-container {
  display: flex;
  justify-content: center;
}

.contact-form {
	background-color: white;
  display: flex;
  flex-direction: column;
	justify-content: center;
  min-width: 400px;

	form {
    display: inline;
    padding: 0 20px 20px;
	}

	label {
	  color: rgb(100, 100, 100);
	  display: flex;
	  flex-direction: column;
	  font-size: 14px;
	  font-weight: 600;

	  &:not(:first-child) {
		  margin-top: 10px;
	  }

	  input {
      font-size: 14px;
      margin-top: 5px;
      padding: 5px;

      &.valid {
        border: solid 1px green;

        & + span {
          color: green;
        }
      }

      &.not-valid {
        border: solid 1px red;

        & + span {
          color: red;
        }
      }
	  }
	}

	div.contact-form-action {
		display: flex;
		flex-direction: row-reverse;
		margin-top: 20px;
	}
}