.header-container {
  display: flex;
  padding: 15px;
  width: 100%;

  h2 {
    display: inline-block;
    margin: 0;
  }

  div.actions {
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: 0;
  }
}